/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-neutral-20-dark: #212634;
    --global-neutral-10-dark: #2B2E3F;
    --global-neutral-5-dark: #444455;
    --global-neutral-dark: #757586;
    --global-neutral-color: #D2D3DA;
    --global-neutral-light: #FDFDFD;
    --global-color-beta: #BA463F;
    --global-color-gamma: #4A7461;

    --global-neutral-dark-opacity: rgba(117, 117, 134, 0.2);

    /* Shadows */
    --shadow-button: 1px 1px 1px rgba(117, 117, 134, 0.2);

    /* border radius */
    --root-radius: 5px;


    /* transitions */
    --transition: all 0.2s ease;

    /* font-sizes*/
    --root-font-size: 4px;

    --regular: 400;
    --bold: 700;

    /* Whitespace */
    --global-baseline: 4px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: calc(var(--root-font-size) * 3);
    line-height: 1.5;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--global-neutral-10-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: var(--regular);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    color: white;
    text-shadow: none;
}

::selection {
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: var(--bold);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: var(--global-neutral-color);
    outline-color: var(--global-neutral-color);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--global-neutral-color);
}

body {
    margin-bottom: 0;
}


label,
input {
    display: block;
}

select {
    width: 100%;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    width: calc(var(--global-baseline) * 16);
    height: calc(var(--global-baseline) * 16);
}


/*
    Component: App
*/


.c-app {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}



/*
    Component: inputs
*/

.c-input__text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--global-neutral-10-dark);
    font-family: inherit;
    font-size: calc(var(--global-baseline) * 3.5);
    line-height: calc(var(--global-baseline) * 10);
    padding-left: calc(var(--global-baseline)* 3);
    margin-top: var(--global-baseline);
    outline: none;
    color: var(--global-neutral-color);
    font-weight: var(--bold);
    width: 100%;
}

.c-input__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--global-neutral-10-dark);
    font-family: inherit;
    font-size: calc(var(--global-baseline) * 3.5);
    line-height: calc(var(--global-baseline) * 10);
    margin-top: var(--global-baseline);
    outline: none;
    color: var(--global-neutral-dark);
    font-weight: var(--bold);
    width: 100%;
}

.c-input__text::placeholder {
    color: var(--global-neutral-dark);
    font-weight: var(--bold);
}

.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__symbol {
    width: calc(var(--global-baseline) * 6);
    height: calc(var(--global-baseline) * 6);
    pointer-events: none;
    position: absolute;
    top: calc(var(--global-baseline) * 3);
    fill: var(--global-neutral-dark);
}

.c-label {
    color: var(--global-neutral-light);
    font-weight: 700;
    font-size: calc(var(--root-font-size) * 3.5);
}

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-button {
    font-weight: var(--bold);
    text-decoration: none;
    padding: 8px 12px 8px;
    border: none;
    border-radius: calc(var(--root-radius) * 3);
    width: 100%;
    background-color: var(--global-color-beta);
    color: var(--global-neutral-light);
}


.c-link-button:visited,
.c-link-button:active {
    background-color: var(--global-neutral-5-dark);
    color: var(--global-neutral-color);
}

.c-link-button:hover {
    background-color: var(--global-neutral-5-dark);
    color: var(--global-neutral-color);
}

.c-link-cta {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    font-weight: var(--bold);
}

/* Custom */
.c-link-cta {
    display: inline-block;
    position: relative;
    padding: calc(var(--global-baseline) * 2)  calc(var(--global-baseline) * 3)  calc(var(--global-baseline) * 2); 
    top: 0;
    background-color: transparent;
    color: var(--global-neutral-dark);
    border-radius: calc(var(--root-radius) * 3);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    transition: var(--transition);
}

.c-link-cta:hover {
    top: calc(var(--global-baseline) * -1);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
    background-color: var(--global-neutral-5-dark);
    color: var(--global-neutral-color);
    box-shadow: var(--shadow-button);
    
}

.c-link-cta:active {
    background-color: var(--global-neutral-5-dark);
    color: var(--global-neutral-color);
}


/*
    Is selected tag to add when button is fired
*/

.is-selected {
    background-color: var(--global-neutral-5-dark);
    color: var(--global-neutral-color);
}

/*
    Component: info
*/

.c-info__select {
    text-align: center;
    max-width: 80px;
    margin: auto;
}

.c-info__logo {
    text-align: center;
    color: var(--global-neutral-dark);
    font-size: calc(var(--root-font-size) * 4);
}

.c-info__price {
    text-align: center;
    color: var(--global-neutral-color);
    font-size: calc(var(--root-font-size) * 9);
}

.c-info__percentage {
    text-align: center;
    color: var(--global-color-beta);
    font-weight: var(--bold);
    font-size: calc(var(--root-font-size) * 5);
}

.c-info__graph {
    text-align: center;
    margin-top: calc(var(--global-baseline) * 3);
}

.c-info__button-day {
    text-align: center;
}

.c-info__button-week {
    text-align: center;
}

.c-info__button-month {
    text-align: center;
}

.c-info__button-year {
    text-align: center;
}

.c-info__label-volume {
    background-color: var(--global-neutral-20-dark);
    color: var(--global-neutral-dark);
    text-align: start;
    margin-left: calc(var(--global-baseline) * -2);
    padding-left: calc(var(--global-baseline) * 5);
    font-size: calc(var(--root-font-size) * 3);
    line-height: calc(var(--global-baseline) * 3 * 3);
    height: 100%;
    font-weight: var(--bold);

}

.c-info__volume {
    background-color: var(--global-neutral-20-dark);
    color: var(--global-neutral-color);
    text-align: end;
    margin-right: calc(var(--global-baseline) * -3);
    padding-right: calc(var(--global-baseline) * 4);
    font-size: calc(var(--root-font-size) * 3);
    line-height: calc(var(--global-baseline) * 3 * 3);
    height: 100%;
    font-weight: var(--bold);
}

.c-info__label-hours {
    text-align: center;
    text-transform: uppercase;
    color: var(--global-neutral-dark);
    font-size: calc(var(--root-font-size) * 3);
}

.c-info__low {
    text-align: center;
    color: var(--global-neutral-color);
    font-size: calc(var(--root-font-size) * 7);
    border-right: 1px var(--global-neutral-5-dark) solid;
}

.c-info__high {
    text-align: center;
    color: var(--global-neutral-color);
    font-size: calc(var(--root-font-size) * 7);
}

.c-info__updated {
    background-color: var(--global-neutral-20-dark);
    margin-left: calc(var(--global-baseline) * -2);
    text-align: start;
    line-height: calc(var(--global-baseline) * 16.5);
    padding-left: calc(var(--global-baseline) * 4);
    height: 100%;
    margin-top: calc(var(--global-baseline) * 5);

    color: var(--global-neutral-dark);
    font-weight: var(--bold);
    font-size: calc(var(--root-font-size) * 3.5);
}

.c-info__date {
    line-height: calc(var(--global-baseline) * 16.5);
    background-color: var(--global-neutral-20-dark);
    color: var(--global-neutral-color);
    text-align: end;
    margin-right: calc(var(--global-baseline) * -3);
    padding-right: calc(var(--global-baseline) * 4);
    font-size: calc(var(--root-font-size) * 3.5);
    font-weight: var(--bold);
    margin-top: calc(var(--global-baseline) * 5);
    height: 100%;
}

.c-infozone {
    background-color: var(--global-neutral-20-dark);
    padding: calc(var(--global-baseline) * 6);
    margin: calc(var(--global-baseline) * 6);
    border-radius: calc(var(--root-radius) * 4);
}

/*
    Component: overview
*/
.c-overview {
    display: grid;
    justify-content: center;
    align-items: center;
}


/*
    Component: card
*/

.c-card__header {
    font-size: calc(var(--root-font-size) * 6);
    color: var(--global-neutral-light);
    font-weight: var(--bold);
}

.c-card__subheader {
    margin-top: calc(var(--global-baseline) * 2);
    font-size: calc(var(--root-font-size) * 4);
    color: var(--global-neutral-color);
    font-weight: var(--bold);
}

.c-card__body {
    margin-top: calc(var(--global-baseline) * 2);
    font-size: calc(var(--root-font-size) * 3.5);
    color: var(--global-neutral-dark);
}

/*
    Component: form
*/

.c-form-submit {
    margin: auto;
    width: 50%;
}

/*
    Component: image mockup
*/

.c-image__mockup {
    width: 100%;
    height: 400px;
}


@media (min-width: 320px) {
    .c-app {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 30px 120px 50px 50px 220px 80px 50px 50px 80px 1fr;
    }

    .c-overview {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}

/* SMARTPHONES LANDSCAPE */
@media(min-width: 480px) {

    .c-app {
        max-width: 50%;
        margin: auto;
        grid-template-rows: 30px 120px 50px 80px 200px 80px 50px 50px 80px 1fr;
    }

    .c-info__graph {
        width: 300px;
        margin: auto;
    }

    .u-border-line {
        width: 20% !important;
    }

}

/* TABLETS PORTRAIT */
@media(min-width: 768px) {
    .c-app {
        grid-template-rows: 30px 120px 50px 80px 250px 80px 50px 50px 80px 75px;
    }

    .c-info__graph {
        width: 400px;
    }

    .u-border-line {
        width: 15% !important;
    }

    .c-overview {
        grid-template-columns: 1fr 1.8fr;
    }

    .c-mockup {
        grid-row: 1;
    }

    .c-image__mockup {
        width: 300px;
        height: 600px;
        width: 100%;
    }

}


/* TABLET LANDSCAPE / DESKTOP */
@media(min-width: 1024px) {
    .c-app {
        grid-template-rows: 30px 120px 50px 80px 350px 80px 50px 50px 80px 75px;
    }

    .c-info__graph {
        width: 500px;
    }

    .u-border-line {
        width: 10% !important;
    }

}

@media(min-width: 1400px) {
    .c-app {
        grid-template-rows: 30px 120px 50px 80px 350px 80px 50px 50px 80px 75px;
    }   

    .c-info__graph {
        width: 600px;
    }

    .u-border-line {
        width: 10% !important;
    }

    .c-overview {
        grid-template-columns: 500px 600px;
    }


}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-span-column-2 {
    grid-column: span 2;
}

.u-span-column-4 {
    grid-column: span 4;
}

.u-span-row-2 {
    grid-row: span 2;
}



.u-dollar-value {
    color: var(--global-color-gamma);
    font-size: calc(var(--root-font-size) * 3.5);
    font-weight: var(--bold);
}

.u-token {
    color: var(--global-neutral-color);
    font-size: calc(var(--root-font-size) * 3.5);
    font-weight: var(--bold);
}

.u-low {
    font-size: calc(var(--root-font-size) * 3);
    color: var(--global-neutral-dark);
    font-weight: var(--bold);
}

.u-high {
    font-size: calc(var(--root-font-size) * 3);
    color: var(--global-neutral-dark);
    font-weight: var(--bold);
}

.u-euro-token {
    font-size: calc(var(--global-baseline) * 3);
    margin-right: var(--global-baseline);
}

.u-border-line {
    margin: auto;
    width: 25%;
    background-color: var(--global-neutral-5-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}